# Telegram Bot Tokenlari
BOT_TOKEN=8276690895:AAG7GAaqE5EeRZ8Q7J7w6J2-DsC9joTwuUQ
HARID_BOT_TOKEN=
SOTUV_BOT_TOKEN=
HARAJAT_BOT_TOKEN=

# Admin Telegram ID lari (vergul bilan ajratilgan)
ADMIN_IDS=123456789

# Telegram Kanallar va Guruhlar ID lari
CHANNEL_ID=-1001234567890
GROUP_HARID_ID=-1001234567890
GROUP_SOTUV_ID=-1001234567890

# Google Cloud & Sheets
GOOGLE_SERVICE_ACCOUNT_FILE=credentials.json
SPREADSHEET_ID=
DRIVE_FOLDER_ID=
